/* Reset default margin and padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
.container {
    position: relative;
    border-radius: 10px; /* Adjust the border radius as needed */
    border: 1px solid #ccc; /* Add border for the container */
    padding: 50px; /* Add padding to create space for the rounded corners */
}
.container h1 {
    text-align: center;
}
  
  /* Apply styles to headings */
   h2 {
    margin-bottom: 10px;
  }

.invoice-details {
    position: absolute;
    top: 10px;
    right: 5px;
}

.invoice-date {
    position: absolute;
    top: 1px;
    left: 5px;
}
  /* Apply styles to input elements */
  input[type="text"],
  input[type="number"] {
    margin-bottom: 10px;
    width: auto;
    padding: 5px;
    font-size: 15px;
  }
  
  /* Apply styles to invoice details section */
  .invoice-details {
    margin-bottom: 20px;
  }
  
  /* Apply styles to company and customer sections */
  .company-info,
  .customer-info {
    margin-bottom: 20px;
  }
  
  /* Apply styles to item rows */
  .item-row {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 5px;
    align-items:flex-end;
  }
  
  /* Apply styles to subtotal and tax sections */
  .subtotal,
  .tax {
    margin-top: 10px;
  }
  
  /* Apply styles to buttons */
  /* button {
    padding: 10px 20px;
    font-size: 14px;
    cursor: pointer;
  } */
  
  
  /* Apply styles to subtotal and total amounts */
  #subtotalAmount,
  #taxAmount,
  #totalAmount {
    font-weight: bold;
  }
  
  button {
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}